body {
    font-family:'Kreon',serif;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
}
img {
    max-height:100%;
    max-width:100%;
}
section {
    position:relative;
    padding:0;
    background:#F0A830;
    color:#FFF;
    text-align:center;
}
section::before,section::after {
    position:absolute;
    content: '';
}




/* Global sidepanel */

.openbtn {
  z-index: 50;
  font-size: 20px;
  cursor: pointer;
  /* background-color: #618BEC; */
  position: absolute;
  background: black;
  right: 0;
  margin-top: -7px;
  background-color: inherit;
  color: snow;
  padding: 18px;
  border: none;
  background-color: black;
}
.openbtn:hover {
  transition: ease-in 200ms;
  background-color: black;
  color: red;
}



.sidepanel  {
  color: white;
  opacity: 0.95;
  width: 0;
  position: fixed;
  z-index: 99;
  height: 250px;
  top: 0;
  right: 0;
  background-color: red;
  overflow-x: hidden;
  transition: 100ms ease-out;
  padding-top: 60px;
  height: 100%;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  width: 100%;
  text-decoration: none;
  font-size: 30px;
  color:white;
  border: 1px black;
  text-decoration: none;
  display: block;
  transition: 100ms ease-in;
}

.sidepanel a:hover {
  font-size: 42px;
  color: #8B0000;;
  background-color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}

.closebtn {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 42px;
  width: auto;
  text-align: center;
  background-color: inherit;
  border: 0px;
  transition: ease-in 100ms;
}

.closebtn:hover {
  font-size: 50px;
  color: white;
}

.botpanel{

  overflow: auto;
  border-top: 1px solid white;
  opacity: 1;
  z-index: 101;
  background-color: black;
  width: 100%;
  height: 25px;
  display: block;
  overflow: hidden;
  position: absolute;
  opacity: 0.9;
  color: snow;
  font-size: 20px;
  border-radius: 2px;
  bottom: 0;
  text-align: center;
  transition: ease-in 100ms;
}

.botpanel:hover{

    padding: 20px;
    height: auto;
}

/* END OF GLOBAL SIDEPANEL */




/* ==========================================================================
    06. Food menu
========================================================================== */
.menu-items {
    text-align:center;.ss-style-top::before {
        left:0;
        width:100%;
        height:30px;
        -webkit-background-size:25px 100%;
        -moz-background-size:25px 100%;
        -o-background-size:25px 100%;
        background-size:25px 100%;
        top:0;
        background-image:linear-gradient(315deg,#FFF 50%,transparent 50%),linear-gradient(45deg,#FFF 50%,transparent 50%);
        margin-top:-30px;
        z-index:100;
    }
    .ss-style-bottom::before {
        left:0;
        width:100%;
        height:30px;
        -webkit-background-size:25px 100%;
        -moz-background-size:25px 100%;
        -o-background-size:25px 100%;
        background-size:25px 100%;
        top:0;
        background-image:linear-gradient(583deg,#FFF 50%,transparent 50%),linear-gradient(136deg,#FFF 50%,transparent 50%);
        margin-top:0px;
        z-index: 100;
    }

    margin:0 auto;
}
.menu-titles h1 {
    text-shadow:none;
    color:#ed0121;
    text-align:center;
    margin:0 auto;
    padding-top:30px;
    padding-bottom:15px;
}
#food-menu ul {
    margin:0;
    padding:0;
    list-style:none;
}
.menu-images img {
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    border:5px solid #dadada;
    display:block;
    margin:auto;
    margin-top: 40px;
}




.topnav {

    background-color: #2d89ef;
    width: 100%;
    height: 70px;


    color: white;
    font-size: 50px;
    border-radius: 2px;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    /* background-color: #618BEC; */
    position: absolute;
    right: 0;
    top: 0;
    background-color: inherit;
    color: white;
    padding:  25px;
    border: none;

  }
  .kidu{
      font-size: 100px;
      color:#ed0121;
      justify-content: center;
      align-items: center;
      font-size: 36px;
  }
/* ==========================================================================
    11. Responsive styles
========================================================================== */

@media (max-width: 991px){
    .pricing .pricing-item .pricing-item-details {
        margin-left: 0;
    }

    .pricing .pricing-item a img {
        float: none;
        margin-bottom: 30px;
    }
}

@media (min-width:768px) {
    .navbar-nav {
        float:none !important;
        width:100%;
        text-align:center;
        margin-left:9px;
    }
    .navbar-nav>li {
        display:inline-block;
        float:none;
    }
    #logo {
        position:absolute;
        display:block !important;
        width:110px;
        left:50%;
        margin-left:-55px;
        background:black;
        -webkit-border-radius:0 0 100% 100%;
        -moz-border-radius:0 0 100% 100%;
        border-radius:0 0 100% 100%;
        padding: 12px;
    }
}

@media (max-width:767px) {
    #header .banner h1 {
        font-size:60px;
    }
    #header .subtitle h4 {
        font-size: 22px;
    }
    .social-bar {
        text-align: left;
        margin-top: 30px;
    }
}
