body{
    margin:0px;
}

.topnav {
  overflow: auto;
  background-color: #2d89ef;
  width: 100%;
  max-height: 70px;
  display: inline-block;
  overflow: hidden;
  color: white;
  font-size: 50px;
  border-radius: 2px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  /* background-color: #618BEC; */
  position: absolute;
  background: black;
  right: 0;
  top: 0;
  background-color: inherit;
    height:58px;
  color: white;
  padding:  25px;
  border: none;
}
.openbtn:hover {
  background-color: black;
}
.sidepanel  {
  color: white;
  opacity: 0.8;
  width: 0;
  position: fixed;
  z-index: 99;
  height: 250px;
  top: 0;
  right: 0;
  background-color: red;
  overflow-x: hidden;
  transition: 100ms ease-out;
  padding-top: 60px;
  height: 100%;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  width: 100%;
  text-decoration: none;
  font-size: 3vw;
  color:white;
  border: 1px black;
  text-decoration: none;
  display: block;
  transition: 150ms ease-in;
}

.sidepanel a:hover {
  color: red;
  background-color: black;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.closebtn:hover {

  color: white;
}

#box{
    display: block;
    background-color: white;
    position: relative;
    padding-bottom: 50px;
    margin-top: 50px;
    padding-top: 20px;
    
}
#pro{
    font-size: 80px;
    margin:0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.cardRow{
    display: flex;
    height: 300px;
    width: 95%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top:30px;
    margin-top: 40px;
    
}
.card{
    height: 300px;
    width:250px;
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 40px;
    transition: all 1s;
    cursor: pointer;
}
#card-main{
    display: none;
    height: 600px;
    width:500px;
    margin-left: -250px;
    position:fixed;
    left:50%;
    top:50px;
    z-index: 10;
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 10px;
    
}
.card:hover{
    box-shadow: 2px 2px 12px grey, -2px -2px 12px grey;
}
.prodImg{
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
    width:cover;
    height:150px; 
}
#prodImg-main{
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
    width:cover;
    height:300px; 
}
.prod{
    width:cover;
    height:150px;
    border-radius: 0px 0px 10px 10px;
}
.prod-main{
    width:cover;
    height:300px;
    border-radius: 0px 0px 10px 10px;
}
.prodEtail{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.prodEtail-main{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.checked {
  color: orange;
}
p{
    margin: 0px;
}
.price{
    font-size: 25px;
    color: green;
}
.price-main{
    font-size: 25px;
    color: green;
}
.proName{
    font-size: 30px;
    font-family: 'Barlow', sans-serif;
    margin: 0px;
    margin-top: 10px;
    font-weight: bold;
}
#proName-main{
    font-size: 30px;
    font-family: 'Barlow', sans-serif;
    margin: 0px;
    margin-top: 10px;
    font-weight: bold;
}
#disp-main{
    text-align: justify;
    padding: 0px 30px;
    font-family: 'PT Sans Narrow', sans-serif;
}
#close{
    width: 50px;
    height: 50px;
    float:right;
    background-image: url(../images/close.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
#slide{
    width:100%;
    height: 500px;
    position: sticky;
    top:0px;
}
.slide{
    width:100%;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width : 850px){
    .cardRow{
        display: block;
    }
}