<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow|Montserrat|PT+Sans+Narrow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Products</title>
</head>
<body>
    <div id="slide">
        <img src="./images/download_1.jpg" class="slide">
        <img src="./images/download_2.jpg" class="slide">
        <img src="./images/download_3.jpg" class="slide">
    </div>
    <div id="card-main" >
        <div id="prodImg-main" >
            <div id="close"></div>
        </div>
        <div class="prod-main">
            <div class="prodEtail-main">
                <p id="proName-main"></p>
                <p class="price-main">&#8377 <span style="font-size: 30px;" id="rate"></span></p>
                <div id="star-main"></div>
                <p  id="disp-main"></p>
            </div>
        </div>
    </div>
    <div id="box">
        <h1 id="pro">PRODUCTS</h1>
    <div class="cardRow">
        <div class="card">
            <div class="prodImg" style="background-image: url(./images/download_1.jpg);"></div>
            <div class="prod">
                <div class="prodEtail">
                    <p class="proName">Product 1</p>
                    <p class="price">&#8377 <span style="font-size: 30px;">1000</span></p>
                    <div class="star">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                    </div>
                    <p style='display: none' class="disp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="prodImg" style="background-image: url(./images/download_2.jpg);"></div>
            <div class="prod">
                <div class="prodEtail">
                    <p class="proName">Product 2</p>
                    <p class="price">&#8377 <span style="font-size: 30px;">2000</span></p>
                    <div class="star">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                    </div>
                    <p style='display: none' class="disp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="prodImg" style="background-image: url(./images/download_3.jpg);"></div>
            <div class="prod">
                <div class="prodEtail">
                    <p class="proName">Product 3</p>
                    <p class="price">&#8377 <span style="font-size: 30px;">3000</span></p>
                    <div class="star">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                    </div>
                    <p style='display: none' class="disp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>
        
    </div>
    <div class="cardRow">
            <div class="card">
                <div class="prodImg" style="background-image: url(./images/download_3.jpg);"></div>
                <div class="prod">
                    <div class="prodEtail">
                        <p class="proName">Product 1</p>
                        <p class="price">&#8377 <span style="font-size: 30px;">1000</span></p>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                        </div>
                        <p style='display: none' class="disp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="prodImg" style="background-image: url(./images/download_2.jpg);"></div>
                <div class="prod">
                    <div class="prodEtail">
                        <p class="proName">Product 2</p>
                        <p class="price">&#8377 <span style="font-size: 30px;">2000</span></p>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                        </div>
                        <p style='display: none' class="disp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="prodImg" style="background-image: url(./images/download_1.jpg);"></div>
                <div class="prod">
                    <div class="prodEtail">
                        <p class="proName">Product 3</p>
                        <p class="price">&#8377 <span style="font-size: 30px;">3000</span></p>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                        </div>
                        <p style='display: none' class="disp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</body>
<script src="https://www.w3schools.com/lib/w3.js"></script>
<script type="application/javascript" src="app.js"></script>
</html>