body,
html {
  background-color: black;
  height: 100%;
  width:100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden; /*change this later*/

}

.topnav {
  overflow: auto;
  background-color: #2d89ef;
  width: 100%;
  max-height: 70px;
  display: inline-block;
  overflow: hidden;
  color: white;
  font-size: 50px;
  border-radius: 2px;
}


.openbtn {
  font-size: 20px;
  cursor: pointer;
  /* background-color: #618BEC; */
  position: absolute;
  background: black;
  right: 0;
  top: 0;
  background-color: inherit;
  color: white;
  padding:  25px;
  border: none;

}

.openbtn:hover {

  background-color: black;
}

.page-body{
    background-color: black;
    position: relative;
    height: 85vh;
    width: 100vw;
    top: 0px;
    left: 0;
}

.slides{

  width: 100%;
  height: auto; /* Make this == "auto%" if you want to maintain aspect ratio and not to fill page */
  position: absolute;
  z-index: 0;
  display: inline-block;
  overflow-y: auto;
}

.slides > img{    /* The slide image */
    width: 100vw;
    overflow-y: auto;
    margin: auto;
    height: auto;
    opacity: 0.7;
    position: relative;
}

.slides > div{    /* The text box*/
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    font-size: 28px;
    color: white;
    padding: 20px;
    width: 25%;
    height: auto;
    max-height: 40%;
    min-height: 50px;
    display: inline-block;
    border: 1px solid grey;

    z-index: 100;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -13%;    /* Position of the box */
    text-align: center;


}

.slides >div:hover{

    background: rgba(0, 0, 0, 0.8);
    border: 2px solid white;
}
.sidepanel  {
  color: white;
  opacity: 0.8;
  width: 0;
  position: fixed;
  z-index: 99;
  height: 250px;
  top: 0;
  right: 0;
  background-color: red;
  overflow-x: hidden;
  transition: 100ms ease-out;
  padding-top: 60px;
  height: 100%;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  width: 100%;
  text-decoration: none;
  font-size: 3vw;
  color:white;
  border: 1px black;
  text-decoration: none;
  display: block;
  transition: 150ms ease-in;
}

.sidepanel a:hover {
  color: red;
  background-color: black;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.closebtn:hover {

  color: white;
}



.scroll_btn{
    position: absolute;
    height: 50px;
    width: 50px;
    background: rgba(0, 0, 0, 0.8);
    color: grey;
    border: 1px solid black;
    position: absolute;
}

.scroll_btn:hover{
    color: white;
    border: 2px solid white;

}

.display-left{

    left: 0px;
    top: 25vw;
    margin-top: -25px;

}



.display-right{


    right: 0px;
    top: 25vw;
    margin-top: -25px;

}
