body,
html {
    margin: 0%;
    width: 100%;
    height: 100%;
}

.container {
    height: 100%;
    position: relative;
}

.blur-background {
    background-color: black;
    opacity: 0.4;
    height: 100%;
    min-width: 100%;
    width: auto;
    position: absolute;
    left: 0;
    top: 0;
    ;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    overflow: hidden;
    max-height: 100%;
}

.botpanel {
    /* overflow: auto; */
    z-index: 0;
    /* background-color: rgb(238, 237, 237); */
    /* background-image: url('../assets/bg.png'); */
    width: 100%;
    height: fit-content;
    display: inline-block;
    position: absolute;
    /* color: black; */
    font-size: 20px;
    top: 100%;
    font-family: 'Montserrat', sans-serif;
    /* text-align: center; */
}


/* .botpanel p {
    padding: 0 20px;
    margin-bottom: 20px;
} */


/* .botpanel h1 {
    padding: 0;
    margin: 0;
} */

.slides {
    position: relative;
    width: 80vw;
    height: 80vh;
    /* Make this == "auto%" if you want to maintain aspect ratio and not to fill page */
    /* position: absolute; */
    z-index: 98;
    /* display: inline-block; */
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    /* border-bottom-right-radius: 100px;
    border-bottom-left-radius: 20px; */
}

.slides>img {
    /* The slide image */
    position: absolute;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slides>div {
    /* The text box*/
    position: absolute;
    bottom: 0%;
    background: rgba(15, 15, 15, 0.8);
    font-size: 15px;
    color: white;
    width: 79vw;
    height: fit-content;
    z-index: 10;
    text-align: center;
    transition: ease-in 100ms;
    padding: 8px 8px;
}


/* .slides >div:hover{
    max-height: 35%;
    width: 35% ;
    margin-left: -18%;
    font-size: 30px;
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid white;

} */

.scroll_btn {
    position: absolute;
    z-index: 101;
    height: 50px;
    width: 50px;
    background: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    color: white;
    border: 0px solid black;
    margin-top: auto;
    margin-bottom: auto;
    transition: ease-in 100ms;
    font-size: 1.8em;
    top: 50%;
}

.scroll_btn:hover {
    font-size: 2.2em;
    color: white;
}

.display-left {
    left: 10vw;
    margin-left: 0px;
}


/* .display-left:hover{

    margin-left: -3px;
} */

.display-right {
    margin-right: 0px;
    right: 10vw;
}

@media (max-width: 767px) {
    .display-left {
        left: 0;
    }
    .display-right {
        right: 0;
    }
    .slides {
        width: 100%;
        height: 50%;
        /* position: absolute; */
        /* top: 65px; */
        z-index: 0;
        display: inline-block;
        overflow: hidden;
        margin: 0;
        border-radius: 0;
        /* margin-top: -4px; */
    }
    .slides>img {
        /* The slide image */
        overflow: hidden;
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* height: 100%;
    width: 100%; */
        object-fit: cover;
        z-index: 0;
    }
    .slides>div {
        display: none;
        /* The text box*/
        position: absolute;
        background: rgba(15, 15, 15, 0.8);
        /* overflow: hidden; */
        font-size: 10px;
        color: white;
        width: 100%;
        height: fit-content;
        padding: 4px 8px;
        /* min-height: auto; */
        /* display: table-cell; */
        z-index: 10;
        /* bottom: 11%; */
        text-align: center;
        transition: ease-in 100ms;
    }
    .scroll_btn {
        position: absolute;
        height: 50px;
        width: 50px;
        background: rgba(0, 0, 0, 0.5);
        background-color: transparent;
        color: white;
        border: 0px solid black;
        margin-top: auto;
        margin-bottom: auto;
        transition: ease-in 100ms;
        font-size: 1.8em;
        top: 25%;
    }
    .scroll_btn:hover {
        font-size: 1.8em;
    }
    .botpanel {
        /* overflow: auto; */
        z-index: 0;
        /* background-color: white; */
        width: 100%;
        height: fit-content;
        display: inline-block;
        position: absolute;
        color: black;
        font-size: 20px;
        top: 50%;
        /* text-align: center; */
    }
}