/* Global Website Stuff - Top Panel and side Panel */

body {
    margin: 0%;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
    background-image: url('./grey2.png');
    background-color: transparent;
    /* opacity: 10%; */
}

.topnav {
    position: fixed;
    z-index: 300;
    /* background-color: darkcyan; */
    /* background-image: url(waves2.png); */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    padding: 3.978px 0px 0px 0px;
    position: fixed;
    top: 0%;
    display: inline-block;
    overflow: hidden;
    color: rgba(255, 255, 255, 0);
    font-size: 50px;
    /* border-radius: 2px; */
    transition: 500ms;
    font-family: 'Times New Roman', Times, serif;
}

.topnav2 {
    background-image: url(waves2.png);
}

.topnav.scrolled {
    /* background-color: blue !important; */
    background-image: url(waves2.png);
    transition: background-image 1s ease-in-out;
}


/* .topnav:hover {
    background-color: #3e85aa;
  
  } */

.logo {
    height: 50px;
    margin-left: 15px;
    margin-bottom: 5px;
    margin-top: -10px;
    vertical-align: middle;
}

.openbtn {
    /* opacity: 0.8; */
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    background: black;
    right: 12px;
    top: 10px;
    background-color: inherit;
    color: white;
    border: none;
}

.openbtn:hover {
    font-size: 35px;
    transition: ease-in 100ms;
    color: white;
}

.sidepanel {
    color: white;
    opacity: 0.85;
    width: 0;
    position: fixed;
    z-index: 301;
    height: 250px;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 100ms ease-out;
    padding-top: 75px;
    height: 100%;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    width: 100%;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
    color: white;
    border: 1px black;
    text-decoration: none;
    display: block;
    transition: 100ms ease-in;
}

.sidepanel a:hover {
    /* font-size: 28px; */
    color: white;
    background-color: #10bbb6;
}

.closebtn {
    position: absolute;
    color: white;
    top: 10px;
    right: 13px;
    font-size: 45px;
    width: auto;
    text-align: center;
    background-color: transparent;
    border: 0px;
    transition: ease-in 100ms;
    /* margin-bottom: 20px;  */
}

.closebtn:hover {
    font-size: 50px;
    color: darkcyan;
}

.footer {
    margin-top: 40px;
    font-size: 0.7em;
    position: relative;
    bottom: 0px;
    background-color: #060606;
    opacity: 0.86;
    height: fit-content;
    display: block;
    text-align: center;
    color: white;
    padding-top: 25px;
    padding-bottom: 60px;
}

.footer h3 {
    font-size: 25px;
    padding: 0;
    margin: 0;
}

.footer a:hover {
    color: #20bfcf;
}

.container-fluid {
    position: relative;
    z-index: 98;
    width: 75vw;
}

.tbox {
    /* position: absolute; */
    /* left: 20%; */
    /* background-image: url('/static/assets/bg.png'); */
    position: relative;
    z-index: 98;
    text-align: center;
    margin-top: 50px;
    background-color: white;
    width: 75vw;
    box-shadow: 1px 1px 5px 0px lightgrey inset, -1px -1px 5px 0px lightgrey inset;
    border-radius: 10px;
    display: block;
    padding: 30px 30px;
    margin: 0px auto 0px auto;
}

.tbox h1 {
    margin-top: 0;
    margin-bottom: 30px;
}

.fab {
    align-content: center;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #10bbb6;
    height: fit-content;
    width: fit-content;
    z-index: 100;
    border-radius: 50px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-image: linear-gradient(to bottom right, #10bbb6, #20bfcf);
}

.fab p {
    display: inline-block;
    padding: 0;
    margin: 5px 0px 5px 5px;
    font-size: 17px;
}

.fab a {
    text-decoration: none;
    color: white;
}


/* .fab i {
    font-size: 20px;
} */

#cursive {
    padding-top: 0;
    font-family: 'Barlow', sans-serif, 700;
    font-size: 1.9em;
}

.text1 {
    grid-area: box2;
    text-align: left;
    font-size: 1em;
    padding: 0;
    margin: 0 0 0 20px;
    line-height: 2em;
}

.img1 {
    grid-area: box1;
    width: 30vw;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
}

.pair {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-template-areas: "box1 box2";
    width: 100%s;
}

.footerLinks {
    min-height: fit-content;
    grid-area: box1;
    text-align: left;
    margin: 10px auto;
    transition: 100ms;
}

.footerLinks a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.footerLinks a:hover {
    color: #10bbb6;
}

.footerDetails {
    min-height: fit-content;
    grid-area: box2;
    text-align: left;
    margin: 10px 0 0 0;
}

.footerDetails p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 2em;
}

.bannerImage {
    position: relative;
    z-index: 0;
    width: 100%;
    margin-bottom: -80px;
    margin-top: -10px;
    /* position: absolute;
    top: 30px; */
}

.bannerImage img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    /* margin-bottom: -100px; */
}

.overlay {
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 30vh;
    opacity: 0.70;
    z-index: 2;
}

.overlay h1 {
    color: #00adbf;
    font-size: 120%;
}

.card img {
    filter: grayscale(10%);
}

.card img:hover {
    transform: scale(1.3);
    transition: 0.25s ease-in-out;
    filter: saturate(2);
}

.space-unser-navbar {
    background-color: #10bbb6 !important;
}

.navbar-inline li {
    display: inline;
    font-size: 25px;
    /* border-right: 2px solid white; */
    padding-right: 20px;
}

.navbar-inline li:last-child {
    border-right: none;
    padding-right: none;
}

.navbar-inline ul:last-child {
    float: right;
}

.navbar-inline {
    display: inline;
    position: relative;
}

.navbar-inline ul {
    margin: 0%;
    font-size: 40px;
    padding-right: 1%;
}

.navbar-inline a {
    color: white;
    text-decoration: none;
    font-size: 100%;
}

.hidebtn {
    display: none;
}


/* Centered text */

.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 200%;
}

#main {
    z-index: 1;
    color: white;
    background: #50c2d1;
    border-radius: 5px;
    margin: 10px auto;
    width: 80%;
    padding: 5px 15px;
    border: 2px dashed #fff;
    outline: 2px dashed #00adbf;
    box-shadow: 0 0 0 6px #50c2d1, 0 0 1px 7px #00adbf;
}

.imgSide {
    width: 30%;
    height: 150%;
    float: left;
    padding: 1% 1% 0 0;
}

#main>p {
    color: #fff;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;
}


/*MOBILE VIEW*/

@media (max-width: 767px) {
    .topnav {
        z-index: 300;
        width: 100%;
        height: 90px;
        padding: 0;
    }
    .logo {
        height: 50px;
        margin-left: 10px;
        margin-top: 3px;
    }
    .openbtn {
        opacity: 0.8;
        margin-top: 16px;
        margin-bottom: 13px;
        margin-right: 13px;
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        background: black;
        right: 0;
        top: 0;
        background-color: transparent;
        color: snow;
        padding: 0px;
        border: none;
    }
    .openbtn:hover {
        font-size: 24px;
    }
    .fab {
        bottom: 10px;
        right: 10px;
    }
    .hidden {
        display: none;
    }
    .tbox {
        position: relative;
        z-index: 98;
        text-align: center;
        margin-top: 50px;
        background-color: white;
        /* background-image: url('/static/assets/bg.png'); */
        width: 88%;
        /* box-shadow: 2px 2px 5px lightgrey, -2px 0px 5px lightgrey; */
        display: block;
        padding: 10px 10px;
        margin: -50px auto 0px auto;
    }
    .tbox h1 {
        margin-top: 20px;
    }
    .pair {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto;
        grid-template-areas: "box1" "box2";
    }
    .text1 {
        grid-area: box2;
        text-align: left;
        font-size: 1em;
        padding: 0 20px 20px 20px;
        margin: 0%;
        line-height: 1.5em;
    }
    .img1 {
        grid-area: box1;
        width: 77vw;
        height: auto;
        overflow: hidden;
        margin: 0 auto 30px auto;
        border-radius: 10px;
    }
    .footerLinks {
        text-align: center;
        width: 100vw;
    }
    #mobi {
        display: none;
    }
    .footer {
        margin-top: 20px;
    }
    .footerDetails {
        text-align: center;
        width: 100vw;
        margin: 10px auto;
    }
    .centered {
        font-size: 100%;
    }
    .imgSide {
        float: none;
        padding: 0;
        width: 100%;
    }
    .overlay {
        height: 20vh;
    }
}

@media (max-width:1007px) {
    .navbar-inline {
        display: none;
    }
    .hidebtn {
        display: block;
    }
}

@media (max-width: 450px) {
    .topnav2 {
        background-image: url(waves3.png);
    }
    .topnav.scrolled {
        background-image: url(waves3.png);
    }
}