/* Global Website Stuff - Top Panel and side Panel */

body {
    margin: 0%;
    width: 100%;
}

.topnav {
    z-index: 100;
    background-color: darkcyan;
    width: 100%;
    height: auto;
    padding: 4px 0px 0px 0px;
    position: fixed;
    top: 0%;
    display: inline-block;
    overflow: hidden;
    color: white;
    font-size: 50px;
    /* border-radius: 2px; */
    transition: 500ms;
}


/* .topnav:hover {
    background-color: #3e85aa;
  
  } */

.logo {
    height: 60px;
    margin-left: 15px;
    margin-bottom: 5px;
    vertical-align: middle;
}

.openbtn {
    /* opacity: 0.8; */
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    background: black;
    right: 12px;
    top: 16px;
    background-color: inherit;
    color: white;
    border: none;
}

.openbtn:hover {
    font-size: 35px;
    transition: ease-in 100ms;
    color: white;
}

.sidepanel {
    color: white;
    opacity: 0.85;
    width: 0;
    position: fixed;
    z-index: 101;
    height: 250px;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 100ms ease-out;
    padding-top: 75px;
    height: 100%;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    width: 100%;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
    border: 1px black;
    text-decoration: none;
    display: block;
    transition: 100ms ease-in;
}

.sidepanel a:hover {
    /* font-size: 28px; */
    color: white;
    background-color: darkcyan;
}

.closebtn {
    position: absolute;
    color: white;
    top: 10px;
    right: 13px;
    font-size: 45px;
    width: auto;
    text-align: center;
    background-color: transparent;
    border: 0px;
    transition: ease-in 100ms;
    /* margin-bottom: 20px;  */
}

.closebtn:hover {
    font-size: 50px;
    color: darkcyan;
}


/*MOBILE VIEW*/

@media (max-width: 767px) {
    .topnav {
        z-index: 50;
        width: 100%;
        height: 65px;
        padding: 0;
    }
    .logo {
        height: 50px;
        margin-left: 10px;
        margin-top: 3px;
    }
    .openbtn {
        opacity: 0.8;
        margin-top: 16px;
        margin-bottom: 13px;
        margin-right: 13px;
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        background: black;
        right: 0;
        top: 0;
        background-color: transparent;
        color: snow;
        padding: 0px;
        border: none;
    }
    .openbtn:hover {
        font-size: 24px;
    }
}