body,
html {
    /* background-color: lightgrey; */
    margin: 0;
    width: 100%;
}

.container {
    margin-top: 120px;
}

.column {
    float: left;
    width: 50%;
    height: 620px;
}

.rating input{
    cursor: pointer;
    
}


.fa fa-star{
    color: azure;
}

.textbox{
    height:10em;
    width:  20em;

}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.box {
    box-shadow: 1px 1px 5px 0px lightgrey inset, -1px -1px 5px 0px lightgrey inset;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.box a {
    text-decoration: none;
    color: black;
}

.order {
    /* display: block; */
    color: white;
    position: relative;
    height: fit-content;
    width: fit-content;
    padding: 10px 50px;
    margin: auto;
    background-image: linear-gradient(to bottom right, #10bbb6, #20bfcf);
    border-radius: 50px;
}

.submit {
    -webkit-appearance: none;
    padding: none;
    border: none;
    color: white;
    font-family: 'Dancing Script', sans-serif;
    font-size: 25px;
    background-color: transparent;
}

@media (max-width: 767px) {
    .container {
        margin-top: 120px;
    }
    .row:after {
        content: "";
    }
    .column {
        width: 100%;
        margin-top: 5%;
        height: 650px;
    }
}