body,
html {
  background-color: white;
  height: 100%;
  margin: 0;

}

.page-body{
  background-color: black;
  position: relative;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0;
}


.scroll_btn{

    height: 50px;
    width: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: grey;
    border: 1px solid black;
}

.scroll_btn:hover{
    color: white;
    border: 2px solid white;

}

.display-left{

    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -25px;

}



.display-right{

    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -25px;

}


.row
{
  text-align:center; 
}
 .contact_us
{
  
  font-size:22px;
  font-family:sans-serif Roboto;
  border: 1px solid #ced4da;
  box-shadow: 1px 1px 1px #dee2e6;
  border-radius:1%;
  width: 48%;
  margin-left: 26%;
}

@media (max-width: 767px) {

    .contact_us {
        font-size: 20px;
        width: 90%;
        margin-left: 5%;
      }
    .map{
        width: 80%;
    }
}