body {
    font-family: 'Proza Libre', sans-serif;
    font-size: 20px;
}

html {
    background-color: white;
    margin: 0;
    width: 100%;
}

.imgSide {
    width: 40%;
    float: left;
    padding: 2%;
    padding-top: 0%;
}

.about-content {
    text-align: left;
}

@media (max-width: 767px) {
    #second {
        display: flex;
        flex-direction: column-reverse;
    }
    .pair img {
        width: 88vw;
    }
    .t1 {
        margin: 0;
    }
    .text-center {
        margin-bottom: 0;
        margin-top: 1em;
    }
    .imgSide {
        float: none;
        padding: 0;
        width: 30%;
    }
}